body
  font-size 18px

:root {
  --vp-layout-max-width: 100%;
}

html
  .custom-block
    .custom-block-title
      font-weight 600
      font-size: 16px
    &.tip, &.warning, &.danger
      border-left-width .5rem
      border-left-style solid
      padding: 1.5rem 1.2rem
    &.warning
      color: rgba(60, 60, 67, 1)
      border-color: #e7c000
      .custom-block-title
        color: #e7c000
    &.tip
      color: rgba(60, 60, 67, 1)
      .custom-block-title
        color: #10b981
    &.danger
      color: rgba(60, 60, 67, 1)
      .custom-block-title
        color: #f43f5e

html.dark
  .custom-block
    .custom-block-title
      font-weight 600
      font-size: 16px
    &.tip, &.warning, &.danger
      border-left-width .5rem
      border-left-style solid
      padding: 1.5rem 1.2rem
    &.warning
      color: white
      border-color: #e7c000
      .custom-block-title
        color: #e7c000
    &.tip
      color: white
      .custom-block-title
        color: #10b981
    &.danger
      color: white
      .custom-block-title
        color: #f43f5e

