$accentColor = #ea894d
$accentDarkColor = #ea894d
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

:root {
  --vp-c-brand: $accentColor;
  --vp-home-hero-name-color: $accentColor;
  --vp-carbon-ads-hover-text-color: $accentColor;
  --vp-c-brand-1: $accentColor;
  --vp-c-brand-2: $accentColor;
  --vp-c-brand-3: $accentColor;
  --vp-c-brand-4: $accentColor;
  --vc-c-tip-1: $accentColor;
  --vc-c-tip-2: $accentColor;
  --vc-c-tip-3: $accentColor;
  --vc-c-tip-4: $accentColor;
}
