$accentColor = #FF6E30
$accentDarkColor = #FF6E30
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

:root {
  --vp-c-white: #F7F7F8;
  --vp-c-black: #1E252B;

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);
}

.dark {
  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);
}


:root {
  --vp-c-brand: $accentColor;
  --vp-home-hero-name-color: $accentColor;
  --vp-carbon-ads-hover-text-color: $accentColor;
  --vp-c-brand-1: $accentColor;
  --vp-c-brand-2: $accentColor;
  --vp-c-brand-3: $accentColor;
  --vp-c-brand-4: $accentColor;
  --vc-c-tip-1: $accentColor;
  --vc-c-tip-2: $accentColor;
  --vc-c-tip-3: $accentColor;
  --vc-c-tip-4: $accentColor;
}
