@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/docs/public/inter-v13-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/docs/public/poppins-v20-latin-600.woff2") format("woff2");
}

body {
    font-family: "Inter", "system-ui", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "system-ui", sans-serif;
}

.rspress-sidebar h2 {
    font-family: "Inter", "system-ui", sans-serif;
}

.rspress-home-hero-text {
    font-family: "Poppins", "system-ui", sans-serif;
}

:root {
  --rp-nav-height: 72px;
  --rp-sidebar-width: 320px;
  --rp-aside-width: 268px;
}

:root {
  --rp-c-bg: #eeeff2;
  --rp-c-bg-soft: #f7f7f8;
  --rp-c-bg-mute: #f1f1f1;

  --rp-c-divider: rgba(60, 60, 60, 0.29);
  --rp-c-divider-light: rgba(60, 60, 60, 0.1);

  --rp-c-text-1: #6e757c;
  --rp-c-text-2: rgba(60, 60, 60, 0.66);
  --rp-c-text-3: rgba(60, 60, 60, 0.33);
  --rp-c-text-4: rgba(60, 60, 60, 0.18);

  --rp-c-text-code: #748fb5;
  --rp-code-font-size: 14px;
  --rp-c-text-code-bg: rgb(153 161 179 / 0.1);

  --rp-c-brand: #ff6e30; /* hsl(204deg 100% 50%) */
  --rp-c-brand-light: #faa87a; /* hsl(204deg 100% 60%) */
  --rp-c-brand-lighter: #faa87a; /* hsl(204deg 100% 70%) */
  --rp-c-brand-dark: #ff6e30; /* hsl(212deg 100% 50%) */
  --rp-c-brand-darker: #fc4b00; /* hsl(212deg 100% 40%) */
  --rp-c-brand-tint: rgba(127, 163, 255, 0.16);

  --rp-home-feature-bg: #EEEFF2;

  --rp-c-gray: #8e8e8e;
  --rp-c-gray-light-1: #aeaeae;
  --rp-c-gray-light-2: #c7c7c7;
  --rp-c-gray-light-3: #d1d1d1;
  --rp-c-gray-light-4: #e5e5e5;
  --rp-c-gray-light-5: #f2f2f2;

  --rp-c-dark: #000000;
  --rp-c-dark-light-1: #2f2f2f;
  --rp-c-dark-light-2: #3a3a3a;
  --rp-c-dark-light-3: #4a4a4a;
  --rp-c-dark-light-4: #5c5c5c;
  --rp-c-dark-light-5: #6b6b6b;

  --rp-radius: 1rem;
  --rp-radius-small: 0.5rem;
  --rp-radius-large: 1.5rem;

  --rp-c-link: var(--rp-c-brand-dark);

  .rspress-home-feature-card {
    border: 1px solid var(--rp-c-divider);
  }

  .rspress-home-feature-card:hover {
    border: 1px solid var(--rp-c-brand);
  }

  .rspress-nav-search-button {
    border: 1px solid var(--rp-c-divider);
  }

  .rspress-nav-search-button:hover {
    border: 1px solid var(--rp-c-brand);
  }
}

.dark {
  --rp-c-bg: #1e252b;
  --rp-c-bg-soft: #1e252b;
  --rp-c-bg-mute: #343a46;
  --rp-c-bg-alt: #000;

  --rp-home-feature-bg: #2C353D;

  --rp-c-divider: rgba(84, 84, 84, 0.65);
  --rp-c-divider-light: rgba(84, 84, 84, 0.48);

  --rp-c-text-1: rgba(255, 255, 245, 0.93);
  --rp-c-text-2: rgba(235, 235, 235, 0.56);
  --rp-c-text-3: rgba(235, 235, 235, 0.38);
  --rp-c-text-4: rgba(235, 235, 235, 0.18);

  /* Will be used in overview page */
  --rp-c-text-code: #fc4b00;

  --rp-c-link: var(--rp-c-brand);
}

:root {
  --rp-z-index-local-nav: 10;
  --rp-z-index-nav: 20;
  --rp-z-index-backdrop: 30;
  --rp-z-index-sidebar: 40;
}

:root {
  --rp-shadow-1: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.06);
  --rp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --rp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --rp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --rp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

:root {
  --rp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--rp-c-brand) 30%, #fc4b00);
  --rp-home-mask-background-image: conic-gradient(from 180deg at 50% 50%, var(--rp-c-brand) 0deg, 180deg, #fc4b00 1turn);
}

body {
  font-size: 16px;
}

.rspress-nav a {
  font-size: 16px !important;
  padding-left: 6px !important;
}

.rspress-nav-menu-item {
  font-size: 14px;
}

.aside-link-text {
  font-size: 13px;
}

.rspress-sidebar h2 span {
    font-size: 14px !important;
}

.rspress-sidebar-group a span {
  font-size: 14px;
}

.rspress-sidebar-group h2 span {
  font-size: 14px !important;
}

.rspress-nav-search-button p {
  font-size: 16px;
}

.rspress-doc .rspress-directive {
    font-size: 14px !important;
}
